h1{
  text-align: center;
  color: black;
  padding: 20px;
  letter-spacing: 5px;
  font-family: 'Russo One', sans-serif;
}

h3{
  font-family: 'Russo One', sans-serif;
}


h2{
  text-align: center;
  color: black;
  padding: 20px;
  letter-spacing: 5px;
  font-family: 'Russo One', sans-serif;
}

h5{
  text-align: center;
  padding: 20px;
  letter-spacing: 2px;
  font-family: 'Russo one', sans-serif;
}

.SeccionDos{ 
  background-color: black;
}

.SeccionDos h1{
  color: white;
  -webkit-text-stroke: 2px black;
 
}

.SeccionDos h2{
  margin-top: 80px;
  color: white;
  -webkit-text-stroke: 2px black;
  
}

.ParteUno{
  margin:10px auto;
  padding:13px;
  width:1000px;
  height:500px; 
  background-repeat:no-repeat;
  background:url('../imagenes/MujerEntrenando.jpg');
  background-size: cover;
}

.ParteDos{
  margin:10px auto;
  padding:13px;
  width:1000px;
  height:500px; 
  background-repeat:no-repeat;
  background:url('../imagenes/HombreEntrenando.jpg');
  background-size: cover;
}

.SeccionTres{
  padding: 20px;
}


.SeccionTres img:hover{
  filter: brightness(30%);
}

.SeccionTres p{
  font-size: 17px;
  font-family: 'Crete Round', serif;;
}


.EntrenadorUno{  
  position: relative;
}

.EntrenadorDos{  
  position: relative;
}

.TextoUno{  
  position: absolute;
  bottom: 10%; 
  color: white;
  font-size: 25px !important;
  font-family: 'Passion One', cursive !important;
}

.TextoDos{
  position: absolute;
  bottom: 10%;   
  color: white;
  font-size: 25px !important;
  font-family: 'Passion One', cursive !important; 
}

Footer{
  background-color: black !important;
  color: floralwhite;
  padding: 20px; 
}

Footer .row img{
  margin: 10px;
}

Footer i{
  height: 50px;
  width: 10px;
  padding: 30px;
}

Footer #Derechos{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.btn-flotante {
	font-size: 15px; 
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #ffffff; 
	border-radius: 15px;
  border-color: forestgreen; 
	background-color: forestgreen; 
	padding-right: 20px; 
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}

.btn-flotante:hover {
	background-color: mediumseagreen;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}

.ParrafoContactoUno{
  font-size: 20px;   
  margin-bottom: 50px;
}

.ParrafoContactoDos{
  font-size: 20px;   
}

.Contacto{ 
  padding: 20px;
  margin-bottom: 150px;
}

.Contacto h1{
  margin-bottom: 50px;
}

.Galeria{
  padding: 20px;  
}

.Galeria img{
  width: 100%;
  height: 300px;
}

.Galeria .col-md-3{
  margin: 0 !important;
  padding-top: 20px;
}

.Galeria .col-md-4{
  margin: 0 !important;
  padding-top: 20px;
}

.Galeria .col-md-5{
  margin: 0 !important;
  padding-top: 20px;
}

.Galeria .col-md-6{
  margin: 0 !important;
  padding-top: 20px;
}

.Galeria .col-md-9{
  margin: 0 !important;
  padding-top: 20px;
}

.Galeria img:hover{
  border: 5px solid white;
}

.seccionLogin{
  margin-top: 50px;
  margin-bottom: 50px;
}

.seccionResetPassword{
  margin-top: 50px;
  margin-bottom: 170px;
}

.seccionConfirmarReseteo{
  margin-top: 100px;
  margin-bottom: 450px;
}

.pBienvenidoAdministrador{
  color: white;
}

.pNoeresadmins{
  color: white;
}


.ImagenCarta{
  height: 400px;
  width: 400px;  
  transition: all 1.5s ease;
}

.Carta{
  overflow: hidden;
}

.ImagenCarta:hover{
  transform: scale(1.5);
}

.CardTitle{
  text-align: center;
  font-family: 'Bungee Spice', cursive; 
}

.CardText{
  text-align: center;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 20px;
}

.spanCosto{
  color: lawngreen;
  text-align: center;
  font-size: 20px;
}

.Cursos{
  background-image: radial-gradient(circle at 17.64% 61.78%, #d2c963 0, #d9c15a 7.14%, #e0b852 14.29%, #e5ae4b 21.43%, #eaa345 28.57%, #ee9641 35.71%, #f0893d 42.86%, #f2793c 50%, #f3683d 57.14%, #f35741 64.29%, #f34548 71.43%, #f33050 78.57%, #f1135a 85.71%, #ed0065 92.86%, #e90072 100%);
  padding: 20px;
}

.Detalle{
  background-image: radial-gradient(circle at 17.64% 61.78%, #d2c963 0, #d9c15a 7.14%, #e0b852 14.29%, #e5ae4b 21.43%, #eaa345 28.57%, #ee9641 35.71%, #f0893d 42.86%, #f2793c 50%, #f3683d 57.14%, #f35741 64.29%, #f34548 71.43%, #f33050 78.57%, #f1135a 85.71%, #ed0065 92.86%, #e90072 100%);
  padding: 20px;
}

.CartasCursos{
  padding-top: 20px;
}

.SeccionCuatro{ 
  padding: 20px;
  background-color: black;  
}

#parrafoSparta{
  color: orange !important;
}

#parrafoSeccionCuatro{
  font-size: 60px;
  font-family: 'Rubik Dirt', cursive;
  color: white;
  text-align: center;
}

.SeccionCuatro img{
  border: solid 5px white; 
}

.SeccionCuatro h1{
  color: red !important;
  font-family: 'Sigmar One', cursive;
  font-size: 50px; 
  text-align: center;
}

.ImagenUno:hover {filter: sepia(60%);}

.ImagenDos{
  transition: all 1.5s ease;
}

.ImagenDos:hover{
  transform: scale(1.2);  
}

.ImagenTres{
  transition: all 1.5s ease;
}

.ImagenTres:hover{
  transform: scale(1.2);  
}
  
.ImagenCuatro{
  transition: all 1.5s ease;
}

.ImagenCuatro:hover{
   transform: scale(1.2);  
}

.NombreCursoReserva{
  font-family: 'Bungee Spice', cursive; 
}

.imagenNoticia{
  width: 700px;
  height: 300px;
}

.Noticias{
  padding: 20px;
}

#Noticia{
  margin: 20px;
}

.fechaPosteo{
  font-size: 15px;
  color: gray;
}

.seccionReservas{
  margin-bottom: 230px;
}

canvas{
  max-width: 1100px;
  max-height: 700px;
}














