h1{
  text-align: center;
  color: black;
  padding: 20px;
  letter-spacing: 5px;
  font-family: 'Russo One', sans-serif;
}

li{
  padding: 30px;
}

.container-fluid ul li a{
  color: white; 
  font-size: 20px;
  font-family: 'Russo One', sans-serif;
}

li a:hover{
  transition: all 0.5s;
  transform: scale(1.25);
  display: inline-block;
}

#SeccionDos img:hover{
  border-radius:50%;
  -webkit-border-radius:50%;
  box-shadow: 0px 0px 15px 15px #ec731e;
  -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

#SeccionDos{
  padding-top: 20px;
  background-color: black;
  padding-bottom: 50px;  
}

#SeccionDos h1{
  color: white;
}



/* .ParteUno{
  width: 700px;
  height: 500px;
  background-image: url('https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

/* .ParteDos{
  width: 700px;
  height: 500px;
  background-image: url('https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
} */




 









Footer{
  background-color: black !important;
  color: floralwhite;
  padding: 20px;
  margin-top: 20px;
}

Footer i{
  height: 50px;
  width: 10px;
  padding: 30px;
}

Footer #Derechos{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.btn-flotante {
	font-size: 15px; 
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #ffffff; 
	border-radius: 15px;
  border-color: forestgreen; 
	background-color: forestgreen; 
	padding-right: 20px; 
	position: fixed;
	bottom: 40px;
	right: 40px;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}

.btn-flotante:hover {
	background-color: mediumseagreen;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}



